{% extends 'layout.html' %}

{% block title %}
    <title>Ajouter une révision</title>
{% endblock %}

{% block body %}

    <div class="head">
        <h2>Ajout d'une révision</h2>
        {% if error %}
        <p class=error><strong>Error:</strong> {{ error }}
        {% endif %}
        <form method="post" action="/revision/add">
    </div>

    <fieldset>
        <div class="container w-75 margin-top-40">
            <div class="border rounded w-50">
                <legend>Révision</legend>
                <div class="form-group row margin-bot">
                    <label for="descriptif" class="col-sm-3 col-form-label margin-left">Descriptif</label>
                    <div class="col-sm-6">
                        <input required="required" id="descriptif" class="form-control" type="text" name="descriptif" size="18" value="" placeholder="Saisir le descriptif">
                    </div>
                </div>

                <div class="form-group row margin-bot">
                    <label for="date-revision" class="col-sm-3 col-form-label margin-left">Date</label>
                    <div class="col-sm-6">
                        <input required="required" id="date-revision" class="form-control" type="date" name="date-revision" size="18" value="">
                    </div>
                </div>

                <div class="form-group row margin-bot">
                    <label for="id-reservoir" class="col-sm-3 col-form-label margin-left">Réservoir</label>
                    <div class="col-sm-6">
                        <select id="id-reservoir" class="form-control" name="id-reservoir" required>
                            <option value="">Sélectionner le réservoir</option>
                            {% for r in reservoir %}
                                <option value="{{ r.id_reservoir }}"> {{ r.id_reservoir }} </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <br>
                <div class="col text-center margin-bot">
                    <input class="btn btn-primary" type="submit" value="Creer" name="Valider">
                </div>
            </div>
        </div>
    </fieldset>
{% endblock %}