{% extends 'layout.html' %}

{% block title %}
    <title>Afficher le kilométrage</title>
{% endblock %}

{% block body %}
<br><br>
<div class="head">
    <div class="title-subtitle">
        <h3>Kilometrage</h3>
        <h6>Historique du nombre de kilomètres parcourut par mois pour chaque bus</h6>
    </div>
    <a type="button" class="btn btn-outline-success" href="/kilometrage/add">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
        </svg>
    Ajouter</a>
</div>
<br><br>
<div class="container">
    <table class="table table-striped rounded">
        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Date</th>
                <th>Distance</th>
                <th>ID Bus</th>
                <th>Opérations</th>
            </tr>
        </thead>
        <tbody>
        {% if kilometrage | length >= 1 %}
            {% for ligne in kilometrage %}
                <tr>
                    <td>{{ ligne.id_kilometrage }}</td>
                    <td>{{ ligne.date_periode }}</td>
                    <td>{{ ligne.nombre_km }} km</td>
                    <td>{{ ligne.id_bus }}</td>
                    <td>
                        <button class="btn btn-danger btn-sm"><a href="/kilometrage/delete?id={{ ligne.id_kilometrage }}" ><span class="delete-button">Supprimer</span></a></button>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
                <tr>
                    <td>
                        Aucun bus n'a roulé durant ces derniers mois.
                    </td>
                </tr>
        {% endif %}
        </tbody>
    </table>
    {% endblock %}
</div>