.head {
    text-align: center;
}

.menu {
    color: black;
    margin-top: 15px;
    margin-left: 15px;
}

table ,tr {
    table-layout: fixed;
    height: 40px;
    border-collapse: collapse;
    background-color: grey;
    text-align: center;
}

a:link {
 text-decoration:none;
}

.flashes {
    padding: 5px;
    margin : 5px;
}

.alert-warning {
    background-color: rgba(255, 197, 197, 1);
}
.alert-success {
    background-color: green;
}

.edit-button {
    color: black;
}

.delete-button {
    color: white;
}

.meuble {
    color: white;
}

.meuble-type {
    color: white;
}

legend {
    text-align: center;
}

.margin-left {
    margin-left: 12%;
}

.margin-bot {
    margin-bottom: 10px;
}

.margin-right-40 {
    margin-right: 40px;
}

.border {
    margin: auto;
}

.margin-top-40 {
    margin-top: 40px;
}

.text-align-center {
    text-align: center;
}

.cards {
    margin: auto;
}