{% extends 'layout.html' %}

{% block title %}
    <title>Ajouter un réservoir</title>
{% endblock %}

{% block body %}

    <div class="head">
        <h2>Ajout d'un réservoir</h2>
        {% if error %}
        <p class=error><strong>Error:</strong> {{ error }}
        {% endif %}
        <form method="post" action="/reservoir/add">
    </div>

    <fieldset>
        <div class="container w-75 margin-top-40">
            <div class="border rounded w-50">
                <legend>Réservoir</legend>
                <div class="form-group row margin-bot">
                    <label for="volume" class="col-sm-3 col-form-label margin-left">Volume (L)</label>
                    <div class="col-sm-6">
                        <input required="required" id="volume" class="form-control" type="text" name="volume" size="18" value="" placeholder="Saisir le volume du réservoir">
                    </div>
                </div>

                <div class="form-group row margin-bot">
                    <label for="modele" class="col-sm-3 col-form-label margin-left">Modèle</label>
                    <div class="col-sm-6">
                        <select id="modele" class="form-control" name="modele" required>
                            <option value="">Sélectionner le modèle</option>
                            {% for m in modele %}
                                <option value="{{ m.code_modele }}"> {{ m.libelle_modele }} </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <br>
                <div class="col text-center margin-bot">
                    <input class="btn btn-primary" type="submit" value="Creer" name="Valider">
                </div>
            </div>
        </div>
    </fieldset>
{% endblock %}