{% extends 'layout.html' %}

{% block title %}
    <title>Ajouter un bus</title>
{% endblock %}

{% block body %}

    <div class="head">
        <h2>Ajout d'un bus</h2>
        {% if error %}
        <p class=error><strong>Error:</strong> {{ error }}
        {% endif %}
        <form method="post" action="/bus/add">
    </div>

    <fieldset>
        <div class="container w-75 margin-top-40">
            <div class="border rounded w-50">
                <legend>Bus</legend>
                <div class="form-group row margin-bot">
                    <label for="date-achat" class="col-sm-3 col-form-label margin-left">Date d'achat</label>
                    <div class="col-sm-6">
                        <input required="required" id="date-achat" class="form-control" type="date" name="date-achat" size="18" value="" placeholder="Saisir la date d'achat du bus">
                    </div>
                </div>

                <div class="form-group row margin-bot">
                    <label for="conso" class="col-sm-3 col-form-label margin-left">Consommation annuelle</label>
                    <div class="col-sm-6">
                        <input required="required" id="conso" class="form-control" type="text" name="conso" size="18" value="" placeholder="Saisir une consommation annuelle">
                    </div>
                </div>

                <div class="form-group row margin-bot">
                    <label for="reservoir_id" class="col-sm-3 col-form-label margin-left">Réservoir</label>
                    <div class="col-sm-6">
                        <select id="reservoir_id" class="form-control" name="reservoir_id" required>
                            <option value="">Sélectionner un réservoir</option>
                            {% for res in reservoir %}
                                <option value="{{ res.id_reservoir}}"> {{ res.id_reservoir }} </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <br>
                <div class="col text-center margin-bot">
                    <input class="btn btn-primary" type="submit" value="Creer" name="Valider">
                </div>
            </div>
        </div>
    </fieldset>
{% endblock %}