{% extends 'layout.html' %}

{% block title %}
    <title>Afficher les bus</title>
{% endblock %}

{% block body %}
<br><br>
<div class="head">
    <h3>Bus</h3>
    <a type="button" class="btn btn-outline-success" href="/bus/add">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
        </svg>
    Ajouter</a>
</div>
<br><br>
<div class="container">
    <table class="table table-striped rounded">
        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Date d'achat</th>
                <th>Conso annuelle</th>
                <th>ID Réservoir</th>
                <th>Nombre de changements</th>
                <th>Opérations</th>
            </tr>
        </thead>
        <tbody>
        {% if bus | length >= 1 %}
            {% for ligne in bus %}
                <tr>
                    <td>{{ ligne.id_bus }}</td>
                    <td>{{ ligne.date_achat }}</td>
                    <td>{{ ligne.conso_annuelle }} L</td>
                    <td>{{ ligne.id_reservoir }}</td>
                    <td>{{ ligne.nb_changement }}</td>
                    <td>
                        <div class="btn-group">
                            <button class="btn btn-warning btn-sm"><a href="/bus/edit?id={{ ligne.id_bus }}"><span class="edit-button">Editer</span></a></button>
                            <button class="btn btn-danger btn-sm"><a href="/bus/delete?id={{ ligne.id_bus }}"><span class="delete-button">Supprimer</span></a></button>
                            <button class="btn btn-info btn-sm"><a href="/bus/etat?id={{ ligne.id_bus }}"><span class="etat-button">Etat</span></a></button>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
                <tr>
                    <td>
                        Pas de bus
                    </td>
                </tr>
        {% endif %}
        </tbody>
    </table>
    {% endblock %}
</div>